body {
	background-image: url("../images/giphy.gif");
	background-repeat: no-repeat;
	width:100%;
	background-size:cover;
}
.loginbox {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 1px black solid;
	text-align: center;
	border-radius:25px;
	padding-top:40px;
	background: rgba(255, 0, 255, 0.15);
}
h2 {
	font-family: 'Mrs Sheppards', cursive;
	font-size:50px;
	text-align:center;
}
