<html>
<head>
	<title>LazeTravel</title>
	<link rel = "stylesheet" type = "text/css" href = "app/assets/stylesheets/edit.css">
</head>
<body>

	<h1> My Posts </h1>
<div class = "edit-image">	
	<%= image_tag @post.image.url(:medium) %>
</div>

</body>
</html>



